.banner{
	background-image:linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),url(../../images/food.jpg);
	color: white;
	padding: 100px 100px;
	background-size: cover;
	background-position: center;

}

.banner h1 {
	font-size: 30px;
}

.banner h2 {
	font-size: 20px;
	font-weight: lighter;
	opacity: 0.8;
	margin-bottom: 40px;

}
